    *
{
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    background-color: #000000;
    /* min-height: 100vh;
    min-height: -webkit-fill-available; */
}

.unity-canvas
{
    width: 769px; 
    height: 1024px; 
    background: #000000; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}